@import "compass";
@import "variable.scss";

.head-top{
  margin: 20px 0;
  .head-left{
    float: left;
    vertical-align: top;
    width: 39%;
    img{
      vertical-align: top;
      width: 250px;
    }
  }
  .head-right{
    float: left;
    vertical-align: top;
    width: 60%;
    .head-top-list{
      li{
        float: right;
        margin: 0 6px;
        font-size: 1.1em;
        .i{
          display: inline-block;
          // padding-right: 5px;
          img{
            vertical-align: middle;
            width: 14px;
          }
        }
      }
    }
    .btn{
      background: #43aac4;
      color: #fff;
      text-align: center;
      font-weight: bold;
      float: right;
      padding: 10px 51px;
      margin-top: 6px;
    }
    .btn:hover{
      background: #c44343;
    }
  }
}

.head-bottom{
  position: relative;
  .head-bottom-list li{
    float: left;
    width: 160px;
    text-align: center;
    transition: .2s;
    font-size: 1.3em;
    padding: 15px 0;
  }
  .head-bottom-list li:hover{
    color: $blue;
    background: #fbfeff
  }
  #menu{
    // display: none;
    position: absolute;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    background: rgba(255,255,255,.6);
    .menu-title{
      float: left;
      width: 15%;
      h2{
        text-align: center;
        margin-top: 115px;
        img{
          width: 60px;
        }
      }
    }
    .menu-content{
      float: left;
      width: 85%;
      margin-top: 20px;
      div{
        font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
        float: left;
        width: 20%;
        box-sizing: border-box;
        padding: 0 5px;
        h3{
          text-align: center;
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
        ul li{
          padding: 10px;
          font-size: 1.2em;
          transition: .2s;
          border-bottom: 1px dotted #c7ecf5;
          height: 45px;
          box-sizing: border-box;
          svg{
            margin-right: 10px;
          }
        }
        ul li:hover{
          color: $blue;
          background: #fbfeff
        }
      }
      .etc{
        margin-top: 35px;
        li{
          font-size: .8rem;
        }
      }
    }
  }
}

.slider{
  width: 100%;
  background: #eee;
  height: 350px;
}

.content{
  margin: 50px 0;
  .main_content{
    float: right;
    // background: #000;
    height: 500px;
    width: 720px;
    h2{
      text-align: center;
      font-size: 1.7rem;
      line-height: 2.5rem;
      .gray{
        height: 1px;
        width: 50px;
        margin: 5px auto;
        background: #ebe8e7;
      }
      img{
        width: 150px;
      }
    }
    #intro{
      margin: 30px;
      .intro_left{
        float: left;
        width: 70%;
        padding: 0 10px;
        box-sizing: border-box;
      }
      .intro_right{
        float: left;
        width: 30%;
      }
    }
    #notice{
      margin: 30px;
      height: 130px;
      overflow: scroll;
      ul li{
        font-size: 1.1rem;
        padding: 10px 0;
        border-bottom: 1px dotted $blue;
        .date{
          color: $blue;
          margin-right: 20px;
          font-family: 'Open Sans',"游ゴシック体", "Yu Gothic", YuGothic,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
        }
      }
    }
    #experience{
      margin: 30px 0;
      .ex-content{
        width: 49%;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        @include inline-block;
        background: #fff;
        h3{
          font-size: 1.3rem;
          line-height: 2rem;
        }
        p{
          margin: 20px 0;
          font-size: 1rem;
          line-height: 1.4rem;
        }
      }
      .btn{
        @include btn;
      }
    }
  }
  .sidebar{
    float: right;
    width: 240px;
    h2{
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.7rem;
      line-height: 2.5rem;
      img{
        width: 60px;
      }
    }
    .side-cources li{
      font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
      padding: 10px;
      font-size: 1.2em;
      transition: .2s;
      svg{
        margin-right: 10px;
      }
    }
    .side-cources li:hover{
      color: $blue;
      background: #fbfeff;
    }
  }
}