@import "compass";
@import "variable.scss";

.sp{
  display: none;
}

.head-top{
  margin: 20px 0;
  .head-left{
    float: left;
    vertical-align: top;
    width: 39%;
    img{
      vertical-align: top;
      width: 250px;
      @include transition(.3s);
    }
    img:hover{
      @include opacity(.8);
    }
  }
  .head-right{
    float: left;
    vertical-align: top;
    width: 60%;
    .head-top-list{
      li{
        float: right;
        margin: 0 6px;
        font-size: 1.1em;
        .i{
          display: inline-block;
          // padding-right: 5px;
          img{
            vertical-align: middle;
            width: 14px;
          }
        }
      }
    }
    .btn{
      background: #43aac4;
      color: #fff;
      text-align: center;
      font-weight: bold;
      float: right;
      padding: 10px 51px;
      margin-top: 6px;
    }
    .btn:hover{
      background: $red;
    }
  }
}

.head-bottom{
  position: relative;
  .head-bottom-list li{
    float: left;
    width: 160px;
    text-align: center;
    @include transition(.3s);
    font-size: 1.3em;
    padding: 15px 0;
  }
  .head-bottom-list li:hover{
    color: $blue;
    background: $light-blue
  }
  a:hover{
    color: $blue;
  }
  #menu{
    display: none;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 300px;
    // margin-top: 20px;
    background: rgba(255,255,255,.9);
    .menu-title{
      float: left;
      width: 15%;
      h2{
        text-align: center;
        margin-top: 115px;
        font-size: 1.2em;
        img{
          width: 60px;
        }
      }
    }
    .menu-content{
      float: left;
      width: 85%;
      margin-top: 20px;
      div{
        font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
        float: left;
        width: 20%;
        box-sizing: border-box;
        padding: 0 5px;
        h3{
          text-align: center;
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
        ul li{
          padding: 10px;
          font-size: 1em;
          @include transition(.3s);
          border-bottom: 1px dotted #c7ecf5;
          height: 45px;
          box-sizing: border-box;
          text-align: left;
          svg{
            margin-right: 10px;
          }
        }
        ul li:hover{
          color: $blue;
          background: $light-blue
        }
      }
      .etc{
        margin-top: 35px;
        li{
          font-size: .8rem;
        }
      }
    }
  }
}

.slider, .thumbnail-bk{
  width: 100%;
  .metaslider{
    margin: 0 auto;
  }
}

.content{
  margin: 50px 0;
  .main_content{
    float: right;
    width: 720px;
    h2{
      text-align: center;
      font-size: 1.7rem;
      line-height: 2.5rem;
      .gray{
        height: 2px;
        width: 50px;
        margin: 5px auto;
        background: #dcdcdc;
      }
      img{
        width: 150px;
      }
    }
    table{
      width: 100%;
      margin-bottom: 30px;
    }
    table,tr,th,td{
      font-size: 1em;
      border: 1px solid;
      border-collapse: collapse;
      border-color: #c8f1ff;
      box-sizing: border-box;
      padding: 10px;
      text-align: center;
      th{
        color: $blue;
        background: $light-blue;
      }
      td{
        background-color: #fff;
      }
    }
    #intro{
      margin: 30px;
      .intro_left{
        float: left;
        width: 70%;
        padding: 0 10px;
        box-sizing: border-box;
      }
      .intro_right{
        float: right;
        width: 30%;
      }
    }
    #notice{
      margin: 30px;
      height: 130px;
      overflow: scroll;
      ul li{
        font-size: 1.1rem;
        padding: 10px 0;
        border-bottom: 1px dotted $blue;
        .date{
          color: $blue;
          margin-right: 20px;
          font-family: 'Open Sans',"游ゴシック体", "Yu Gothic", YuGothic,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
        }
      }
    }
    #experience{
      margin: 30px 0;
      .ex-content{
        width: 45%;
        height: 302px;
        box-sizing: border-box;
        margin: 30px 2%;
        padding: 30px;
        border: 1px solid #ececec;
        @include inline-block;
        background: #fff;
        h3{
          font-size: 1.3rem;
          line-height: 2rem;
        }
        p{
          margin: 20px 0;
          font-size: 1rem;
          line-height: 1.4rem;
        }
      }
      .btn{
        @include btn;
      }
    }
    #blog{
      margin: 30px 0;
      a:hover{
        color: $black;
      }
      .blog{
        width: 33.333333%;
        float: left;
        box-sizing: border-box;
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        @include transition(.3s);
        height: 200px;
        .date{
          color: $blue;
          font-family: 'Open Sans',"游ゴシック体", "Yu Gothic", YuGothic,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
          font-weight: bold;
          font-size: 1em;
        }
        h3{
          font-weight: bold;
          margin: 10px 0;
          font-size: 1.4em;
          line-height: 1.4em;
        }
        p{
          font-size: 1em;
          line-height: 2em;
        }
      }
      .blog:hover{
        background: $light-blue;
        color: $blue;
      }
      .btn{
        @include btn;
      }
    }
  }
  .sidebar{
    float: right;
    width: 240px;
    h2{
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.7rem;
      line-height: 2.5rem;
      img{
        width: 60px;
      }
    }
    .side-cources li{
      font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
      padding: 10px;
      font-size: 1.2em;
      @include transition(.3s);
      svg{
        margin-right: 10px;
      }
    }
    .side-cources li:hover{
      color: $blue;
      background: $light-blue;
    }
    iframe{
      margin-top: 20px!important;
      width: 200px!important;
      height: 400px!important;
    }
  }
}

.pages{
  font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  .metaslider{
    margin: 0 auto 80px auto;
  }
  .btn{
    @include btn;
  }
  .date{
    color: $blue;
    font-family: 'Open Sans',"游ゴシック体", "Yu Gothic", YuGothic,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
    padding: 10px;
    font-size: 1em;
  }
  h1{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }
  h2{
    text-align: left!important;
    color: $blue;
    margin-bottom: 50px;
  }
  h3{
    text-align: left;
    font-size: 1.6em;
    margin-bottom: 30px;
  }
  h4{
    text-align: left;
    font-size: 1.5em;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }
  p{
    margin-bottom: 30px;
  }
  ul,ol{
    margin: 0 0 30px 30px;
    padding: 30px 50px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1.2em;
  }
  ol{
    li{
      list-style: decimal;
    }
  }
  ul{
    li{
      list-style: disc;
    }
  }
  .teacher{
    text-align: center;
    width: 33.33333333%;
    height: 280px;
    box-sizing: border-box;
    padding: 10px;
    float: left;
    @include transition(.3s);
    img.attachment-thumbnail{
      border-radius: 50%;
    }
    .name, .subject{
      font-size: 1.1em;
      line-height: 2em;
      margin: 0;
    }
  }
  .teacher:hover{
    background-color: $light-blue;
    @include opacity(.8);
  }
  .circle{
    text-align: center;
    img{
      border-radius: 50%;
    }
  }
  .teacher-table{
    th{
      width: 25%;
    }
  }
  .resson-price{
    th:nth-child(2){
      width: 45%;
    }
    td{
      font-size: .9em;
    }
  }
  .classes{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    li{
      @include transition(.3s);
      list-style: none;
      padding: 10px 0;
      border-bottom: 1px solid #eee;
      position: relative;
      .class{
        font-size: 1.2em;
      }
    }
    li:after{
      content: ">";
      @include opacity(.8);
      font-family: FontAwesome;
      font-weight: bold;
      font-size: 1.1em;
      position: absolute;
      top: 23px;
      right: 10px;
    }
    li:hover{
      background: #fbfeff;
      color: #43aac4;
      cursor: pointer;
    }
  }
}
.navigation{
  .screen-reader-text{
    display: none;
  }
  .nav-links{
    .page-numbers li:first-child, .page-numbers li:last-child{
      display: none;
    }
    .page-numbers{
      li{
        float: left;
        position: relative;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        border-radius: 50%;
        text-align: center;
        background: $blue;
        color: #fff;
        a, span{
          color: #fff;
          position: absolute;
          top: 8px;
          right: 0;
          width: 100%;
        }
      }
    }
    .prev .next{
      display: none;
    }
  }
}
.thumbnail-bk{
  width: 960px;
  height: 262px;
  background: url("../images/bg_1.png") center center;
  p{
    padding-top: 90px;
    font-weight: bold;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    font-family: "Marugame","游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
    span{
      margin-top: 30px;
      font-size: .6em;
    }
  }
}
.bg_1{
  background: url("../images/bg_1.png") center center;
}
.bg_2{
  background: url("../images/bg_2.png") center center;
}
.bg_3{
  background: url("../images/bg_3.png") center center;
}
.bg_4{
  background: url("../images/bg_4.png") center center;
}
.bg_5{
  background: url("../images/bg_5.png") center center;
}
footer{
  background-color: $black;
  p{
    padding: 30px 0;
    text-align: center;
    color: #fff;
    a{
      color: #fff;
      text-decoration: none;
    }
  }
  .left{
    float: left;
    width: 480px;
    .fb-page{
      margin: 30px 0 0 30px;
    }
    .footer-img{
      padding-top: 90px;
      text-align: center;
      .white-line{
        width: 80%;
        margin: 10px 10% 10px 10%;
        height: 1px;
        background-color: #fff;
      }
      ul{
        width: 80%;
        margin: 0 17%;
        li{
          float: left;
          width: 20%;
          font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
          color: #fff;
          @include transition(.3s);
        }
        li:hover{
          color: #fffeac;
        }
      }
    }
  }
}
.balloon1 {
 	position: relative;
	display: inline-block;
 	margin: 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #e0edff;
	border-radius: 15px;
}

.balloon1:before{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
 	margin-left: -15px;
	border: 15px solid transparent;
	border-top: 15px solid #e0edff;
}

.balloon1 p {
	margin: 0;
	padding: 0;
}

.review{
  border: 1px solid #eee;
  background-color: #fff;
  width: 90%;
  margin: 20px 5%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  table, th, td{
    border: none;
  }
  .review-status{
    margin-bottom: 10px;
  }
  .which{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
  }
}
.adult{
  color: #fff;
  background-color: $blue;
}
.child{
  color: #fff;
  background-color: $red;
}
.half-btn{
  width: 45%;
  float: left;
  text-align: center;
  padding: 10px 0;
  margin: 0 2.5%;
  border-radius: 5px;
  font-weight: bold;
  p{
    margin: 0;
  }
}
.three-column-list{
  border: none!important;
  background: #fffffb;
  margin: 0!important;
  font-size: 1em!important;
  li{
    float: left;
    list-style: none!important;
    width: 33.333333333%;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 5px 30px 5px;
  }
}
.post-thumbnail{
  margin-bottom: 30px;
  img{
    width: 100%;
    height: auto!important;
  }
}
#tickets{
  .ticket{
    h2{
      width: 65%;
      text-align: center;
      padding: 35px 12% 0 13%;
      font-size: 1.3em;
    }
    width: 100%;
    height: 100px;
    margin: 20px;
    border: 1px solid #eee;
    background: #fff;
    position: relative;
  }
  .ticket:after{
    content: "";
    position: absolute;
    width: 10%;
    right: 0;
    top: 0;
    height: 100%;
    background-color: $red;
    border-left: 3px dotted #eee;
  }
  margin: 30px 0;
  li{
    width: 33.33333333333%;
    float: left;
    border: 1px solid #eee;
    background: #f9f9f9;
    padding: 30px;
    box-sizing: border-box;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  }
  li:hover{
    background: #fff;
  }
}
.simplemap{
  margin-bottom: 20px;
}
.blog_title{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.blog_list li{
  h2{
    text-align: left!important;
    font-size: 1.3em!important;
  }
  p{
    font-size: .9em;
    line-height: 1.3em;
  }
  font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  list-style: none;
  border: 1px solid #eee;
  text-align: left;
  // width: 90%;
  margin: 20px 0;
  padding: 30px;
  background: #fff;
  box-sizing: border-box;
}
.blog_list li:hover{
  color: $blue;
  background: $light-blue;
}
.blog_list li a:hover{
  color: $blue;
}
