@charset "UTF-8";
@font-face {
  font-family: 'Marugame';
  src: url("../fonts/marugame.eot");
  src: url("../fonts/marugame.eot?#iefix") format("embedded-opentype"), url("../fonts/marugame.woff") format("woff"), url("../fonts/marugame.otf") format("opentype");
}
/* line 11, ../sass/default.scss */
html, body {
  font-size: .9em;
  background-color: #fffffb;
  width: 100%;
  height: 100%;
  font-family: "Marugame","游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  color: #515151;
  -webkit-font-smoothing: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* line 23, ../sass/default.scss */
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

/* line 27, ../sass/default.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 31, ../sass/default.scss */
fieldset, img {
  border: 0;
}

/* line 34, ../sass/default.scss */
address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
  font: inherit;
}

/* line 37, ../sass/default.scss */
li {
  list-style: none;
}

/* line 40, ../sass/default.scss */
q:after, q:before {
  content: '';
}

/* line 43, ../sass/default.scss */
sub, sup {
  vertical-align: baseline;
}

/* line 46, ../sass/default.scss */
.clear {
  clear: both;
}

/* line 49, ../sass/default.scss */
.center {
  text-align: center;
}

/* line 52, ../sass/default.scss */
.bold {
  font-weight: bold;
}

/* line 55, ../sass/default.scss */
p {
  line-height: 3.5rem;
}

/* line 58, ../sass/default.scss */
a {
  text-decoration: none;
  color: #515151;
}

/* line 62, ../sass/default.scss */
p a {
  text-decoration: underline;
  transition: all 0.2s;
}

/* line 66, ../sass/default.scss */
p a:hover {
  opacity: 0.8;
}

/* line 69, ../sass/default.scss */
.blue {
  color: #43aac4;
}

/* line 72, ../sass/default.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 76, ../sass/default.scss */
.btn {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  font-size: 1.2em;
}
