@charset "UTF-8";
@font-face {
  font-family: 'Marugame';
  src: url("../fonts/marugame.eot");
  src: url("../fonts/marugame.eot?#iefix") format("embedded-opentype"), url("../fonts/marugame.woff") format("woff"), url("../fonts/marugame.otf") format("opentype");
}
/* line 11, ../sass/default.scss */
html, body {
  font-size: .9em;
  background-color: #fffffb;
  width: 100%;
  height: 100%;
  font-family: "Marugame","游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  color: #515151;
  -webkit-font-smoothing: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* line 23, ../sass/default.scss */
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

/* line 27, ../sass/default.scss */
h2 {
  font-weight: normal;
}

/* line 30, ../sass/default.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 34, ../sass/default.scss */
fieldset, img {
  border: 0;
}

/* line 37, ../sass/default.scss */
address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
  font: inherit;
}

/* line 40, ../sass/default.scss */
li {
  list-style: none;
}

/* line 43, ../sass/default.scss */
q:after, q:before {
  content: '';
}

/* line 46, ../sass/default.scss */
sub, sup {
  vertical-align: baseline;
}

/* line 49, ../sass/default.scss */
.clear {
  clear: both;
}

/* line 52, ../sass/default.scss */
.center {
  text-align: center;
}

/* line 55, ../sass/default.scss */
.bold {
  font-weight: bold;
}

/* line 58, ../sass/default.scss */
p {
  line-height: 2.3rem;
  font-size: 1.1rem;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
}

/* line 64, ../sass/default.scss */
a {
  text-decoration: none;
  color: #515151;
}
/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: red;
}
/* line 27, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: pink;
}

/* line 68, ../sass/default.scss */
p a {
  text-decoration: underline;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 72, ../sass/default.scss */
p a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 75, ../sass/default.scss */
.blue {
  color: #43aac4;
}

/* line 78, ../sass/default.scss */
.red {
  color: #c44343;
}

/* line 81, ../sass/default.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 85, ../sass/default.scss */
.btn {
  padding: 10px 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.2em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 93, ../sass/default.scss */
form select {
  height: 40px;
}
/* line 96, ../sass/default.scss */
form textarea, form input {
  border: 1px solid #cecece;
}
/* line 99, ../sass/default.scss */
form input[type="submit"] {
  border: none;
  border-radius: 4px;
  padding: 10px 100px;
  background-color: #43aac4;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 109, ../sass/default.scss */
form input[type="submit"]:hover {
  background-color: #c44343;
}

/* line 113, ../sass/default.scss */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
