@charset "UTF-8";
/* line 4, ../sass/style.scss */
.sp {
  display: none;
}

/* line 8, ../sass/style.scss */
.head-top {
  margin: 20px 0;
}
/* line 10, ../sass/style.scss */
.head-top .head-left {
  float: left;
  vertical-align: top;
  width: 39%;
}
/* line 14, ../sass/style.scss */
.head-top .head-left img {
  vertical-align: top;
  width: 250px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 19, ../sass/style.scss */
.head-top .head-left img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 23, ../sass/style.scss */
.head-top .head-right {
  float: left;
  vertical-align: top;
  width: 60%;
}
/* line 28, ../sass/style.scss */
.head-top .head-right .head-top-list li {
  float: right;
  margin: 0 6px;
  font-size: 1.1em;
}
/* line 32, ../sass/style.scss */
.head-top .head-right .head-top-list li .i {
  display: inline-block;
}
/* line 35, ../sass/style.scss */
.head-top .head-right .head-top-list li .i img {
  vertical-align: middle;
  width: 14px;
}
/* line 42, ../sass/style.scss */
.head-top .head-right .btn {
  background: #43aac4;
  color: #fff;
  text-align: center;
  font-weight: bold;
  float: right;
  padding: 10px 51px;
  margin-top: 6px;
}
/* line 51, ../sass/style.scss */
.head-top .head-right .btn:hover {
  background: #c44343;
}

/* line 57, ../sass/style.scss */
.head-bottom {
  position: relative;
}
/* line 59, ../sass/style.scss */
.head-bottom .head-bottom-list li {
  float: left;
  width: 160px;
  text-align: center;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.3em;
  padding: 15px 0;
}
/* line 67, ../sass/style.scss */
.head-bottom .head-bottom-list li:hover {
  color: #43aac4;
  background: #fbfeff;
}
/* line 71, ../sass/style.scss */
.head-bottom a:hover {
  color: #43aac4;
}
/* line 74, ../sass/style.scss */
.head-bottom #menu {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 300px;
  background: rgba(255, 255, 255, 0.9);
}
/* line 82, ../sass/style.scss */
.head-bottom #menu .menu-title {
  float: left;
  width: 15%;
}
/* line 85, ../sass/style.scss */
.head-bottom #menu .menu-title h2 {
  text-align: center;
  margin-top: 115px;
  font-size: 1.2em;
}
/* line 89, ../sass/style.scss */
.head-bottom #menu .menu-title h2 img {
  width: 60px;
}
/* line 94, ../sass/style.scss */
.head-bottom #menu .menu-content {
  float: left;
  width: 85%;
  margin-top: 20px;
}
/* line 98, ../sass/style.scss */
.head-bottom #menu .menu-content div {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 5px;
}
/* line 104, ../sass/style.scss */
.head-bottom #menu .menu-content div h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
/* line 109, ../sass/style.scss */
.head-bottom #menu .menu-content div ul li {
  padding: 10px;
  font-size: 1em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px dotted #c7ecf5;
  height: 45px;
  box-sizing: border-box;
  text-align: left;
}
/* line 117, ../sass/style.scss */
.head-bottom #menu .menu-content div ul li svg {
  margin-right: 10px;
}
/* line 121, ../sass/style.scss */
.head-bottom #menu .menu-content div ul li:hover {
  color: #43aac4;
  background: #fbfeff;
}
/* line 126, ../sass/style.scss */
.head-bottom #menu .menu-content .etc {
  margin-top: 35px;
}
/* line 128, ../sass/style.scss */
.head-bottom #menu .menu-content .etc li {
  font-size: .8rem;
}

/* line 136, ../sass/style.scss */
.slider, .thumbnail-bk {
  width: 100%;
}
/* line 138, ../sass/style.scss */
.slider .metaslider, .thumbnail-bk .metaslider {
  margin: 0 auto;
}

/* line 143, ../sass/style.scss */
.content {
  margin: 50px 0;
}
/* line 145, ../sass/style.scss */
.content .main_content {
  float: right;
  width: 720px;
}
/* line 148, ../sass/style.scss */
.content .main_content h2 {
  text-align: center;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
/* line 152, ../sass/style.scss */
.content .main_content h2 .gray {
  height: 2px;
  width: 50px;
  margin: 5px auto;
  background: #dcdcdc;
}
/* line 158, ../sass/style.scss */
.content .main_content h2 img {
  width: 150px;
}
/* line 162, ../sass/style.scss */
.content .main_content table {
  width: 100%;
  margin-bottom: 30px;
}
/* line 166, ../sass/style.scss */
.content .main_content table, .content .main_content tr, .content .main_content th, .content .main_content td {
  font-size: 1em;
  border: 1px solid;
  border-collapse: collapse;
  border-color: #c8f1ff;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
/* line 174, ../sass/style.scss */
.content .main_content table th, .content .main_content tr th, .content .main_content th th, .content .main_content td th {
  color: #43aac4;
  background: #fbfeff;
}
/* line 178, ../sass/style.scss */
.content .main_content table td, .content .main_content tr td, .content .main_content th td, .content .main_content td td {
  background-color: #fff;
}
/* line 182, ../sass/style.scss */
.content .main_content #intro {
  margin: 30px;
}
/* line 184, ../sass/style.scss */
.content .main_content #intro .intro_left {
  float: left;
  width: 70%;
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 190, ../sass/style.scss */
.content .main_content #intro .intro_right {
  float: right;
  width: 30%;
}
/* line 195, ../sass/style.scss */
.content .main_content #notice {
  margin: 30px;
  height: 130px;
  overflow: scroll;
}
/* line 199, ../sass/style.scss */
.content .main_content #notice ul li {
  font-size: 1.1rem;
  padding: 10px 0;
  border-bottom: 1px dotted #43aac4;
}
/* line 203, ../sass/style.scss */
.content .main_content #notice ul li .date {
  color: #43aac4;
  margin-right: 20px;
  font-family: 'Open Sans',"游ゴシック体", "Yu Gothic", YuGothic,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
}
/* line 210, ../sass/style.scss */
.content .main_content #experience {
  margin: 30px 0;
}
/* line 212, ../sass/style.scss */
.content .main_content #experience .ex-content {
  width: 45%;
  height: 302px;
  box-sizing: border-box;
  margin: 30px 2%;
  padding: 30px;
  border: 1px solid #ececec;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: #fff;
}
/* line 221, ../sass/style.scss */
.content .main_content #experience .ex-content h3 {
  font-size: 1.3rem;
  line-height: 2rem;
}
/* line 225, ../sass/style.scss */
.content .main_content #experience .ex-content p {
  margin: 20px 0;
  font-size: 1rem;
  line-height: 1.4rem;
}
/* line 231, ../sass/style.scss */
.content .main_content #experience .btn {
  background: #43aac4;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 51px;
  margin-top: 6px;
}
/* line 235, ../sass/style.scss */
.content .main_content #blog {
  margin: 30px 0;
}
/* line 237, ../sass/style.scss */
.content .main_content #blog a:hover {
  color: #515151;
}
/* line 240, ../sass/style.scss */
.content .main_content #blog .blog {
  width: 33.333333%;
  float: left;
  box-sizing: border-box;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 200px;
}
/* line 248, ../sass/style.scss */
.content .main_content #blog .blog .date {
  color: #43aac4;
  font-family: 'Open Sans',"游ゴシック体", "Yu Gothic", YuGothic,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  font-weight: bold;
  font-size: 1em;
}
/* line 254, ../sass/style.scss */
.content .main_content #blog .blog h3 {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.4em;
  line-height: 1.4em;
}
/* line 260, ../sass/style.scss */
.content .main_content #blog .blog p {
  font-size: 1em;
  line-height: 2em;
}
/* line 265, ../sass/style.scss */
.content .main_content #blog .blog:hover {
  background: #fbfeff;
  color: #43aac4;
}
/* line 269, ../sass/style.scss */
.content .main_content #blog .btn {
  background: #43aac4;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 51px;
  margin-top: 6px;
}
/* line 274, ../sass/style.scss */
.content .sidebar {
  float: right;
  width: 240px;
}
/* line 277, ../sass/style.scss */
.content .sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
/* line 282, ../sass/style.scss */
.content .sidebar h2 img {
  width: 60px;
}
/* line 286, ../sass/style.scss */
.content .sidebar .side-cources li {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  padding: 10px;
  font-size: 1.2em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 291, ../sass/style.scss */
.content .sidebar .side-cources li svg {
  margin-right: 10px;
}
/* line 295, ../sass/style.scss */
.content .sidebar .side-cources li:hover {
  color: #43aac4;
  background: #fbfeff;
}
/* line 299, ../sass/style.scss */
.content .sidebar iframe {
  margin-top: 20px !important;
  width: 200px !important;
  height: 400px !important;
}

/* line 307, ../sass/style.scss */
.pages {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
}
/* line 309, ../sass/style.scss */
.pages .metaslider {
  margin: 0 auto 80px auto;
}
/* line 312, ../sass/style.scss */
.pages .btn {
  background: #43aac4;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 51px;
  margin-top: 6px;
}
/* line 315, ../sass/style.scss */
.pages .date {
  color: #43aac4;
  font-family: 'Open Sans',"游ゴシック体", "Yu Gothic", YuGothic,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  padding: 10px;
  font-size: 1em;
}
/* line 321, ../sass/style.scss */
.pages h1 {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
/* line 326, ../sass/style.scss */
.pages h2 {
  text-align: left !important;
  color: #43aac4;
  margin-bottom: 50px;
}
/* line 331, ../sass/style.scss */
.pages h3 {
  text-align: left;
  font-size: 1.6em;
  margin-bottom: 30px;
}
/* line 336, ../sass/style.scss */
.pages h4 {
  text-align: left;
  font-size: 1.5em;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
/* line 343, ../sass/style.scss */
.pages p {
  margin-bottom: 30px;
}
/* line 346, ../sass/style.scss */
.pages ul, .pages ol {
  margin: 0 0 30px 30px;
  padding: 30px 50px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1.2em;
}
/* line 355, ../sass/style.scss */
.pages ol li {
  list-style: decimal;
}
/* line 360, ../sass/style.scss */
.pages ul li {
  list-style: disc;
}
/* line 364, ../sass/style.scss */
.pages .teacher {
  text-align: center;
  width: 33.33333333%;
  height: 280px;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 372, ../sass/style.scss */
.pages .teacher img.attachment-thumbnail {
  border-radius: 50%;
}
/* line 375, ../sass/style.scss */
.pages .teacher .name, .pages .teacher .subject {
  font-size: 1.1em;
  line-height: 2em;
  margin: 0;
}
/* line 381, ../sass/style.scss */
.pages .teacher:hover {
  background-color: #fbfeff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 385, ../sass/style.scss */
.pages .circle {
  text-align: center;
}
/* line 387, ../sass/style.scss */
.pages .circle img {
  border-radius: 50%;
}
/* line 392, ../sass/style.scss */
.pages .teacher-table th {
  width: 25%;
}
/* line 397, ../sass/style.scss */
.pages .resson-price th:nth-child(2) {
  width: 45%;
}
/* line 400, ../sass/style.scss */
.pages .resson-price td {
  font-size: .9em;
}
/* line 404, ../sass/style.scss */
.pages .classes {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
/* line 409, ../sass/style.scss */
.pages .classes li {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  position: relative;
}
/* line 415, ../sass/style.scss */
.pages .classes li .class {
  font-size: 1.2em;
}
/* line 419, ../sass/style.scss */
.pages .classes li:after {
  content: ">";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  font-family: FontAwesome;
  font-weight: bold;
  font-size: 1.1em;
  position: absolute;
  top: 23px;
  right: 10px;
}
/* line 429, ../sass/style.scss */
.pages .classes li:hover {
  background: #fbfeff;
  color: #43aac4;
  cursor: pointer;
}

/* line 437, ../sass/style.scss */
.navigation .screen-reader-text {
  display: none;
}
/* line 441, ../sass/style.scss */
.navigation .nav-links .page-numbers li:first-child, .navigation .nav-links .page-numbers li:last-child {
  display: none;
}
/* line 445, ../sass/style.scss */
.navigation .nav-links .page-numbers li {
  float: left;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
  text-align: center;
  background: #43aac4;
  color: #fff;
}
/* line 455, ../sass/style.scss */
.navigation .nav-links .page-numbers li a, .navigation .nav-links .page-numbers li span {
  color: #fff;
  position: absolute;
  top: 8px;
  right: 0;
  width: 100%;
}
/* line 464, ../sass/style.scss */
.navigation .nav-links .prev .next {
  display: none;
}

/* line 469, ../sass/style.scss */
.thumbnail-bk {
  width: 960px;
  height: 262px;
  background: url("../images/bg_1.png") center center;
}
/* line 473, ../sass/style.scss */
.thumbnail-bk p {
  padding-top: 90px;
  font-weight: bold;
  font-size: 2.5em;
  color: #fff;
  text-align: center;
  font-family: "Marugame","游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
}
/* line 480, ../sass/style.scss */
.thumbnail-bk p span {
  margin-top: 30px;
  font-size: .6em;
}

/* line 486, ../sass/style.scss */
.bg_1 {
  background: url("../images/bg_1.png") center center;
}

/* line 489, ../sass/style.scss */
.bg_2 {
  background: url("../images/bg_2.png") center center;
}

/* line 492, ../sass/style.scss */
.bg_3 {
  background: url("../images/bg_3.png") center center;
}

/* line 495, ../sass/style.scss */
.bg_4 {
  background: url("../images/bg_4.png") center center;
}

/* line 498, ../sass/style.scss */
.bg_5 {
  background: url("../images/bg_5.png") center center;
}

/* line 501, ../sass/style.scss */
footer {
  background-color: #515151;
}
/* line 503, ../sass/style.scss */
footer p {
  padding: 30px 0;
  text-align: center;
  color: #fff;
}
/* line 507, ../sass/style.scss */
footer p a {
  color: #fff;
  text-decoration: none;
}
/* line 512, ../sass/style.scss */
footer .left {
  float: left;
  width: 480px;
}
/* line 515, ../sass/style.scss */
footer .left .fb-page {
  margin: 30px 0 0 30px;
}
/* line 518, ../sass/style.scss */
footer .left .footer-img {
  padding-top: 90px;
  text-align: center;
}
/* line 521, ../sass/style.scss */
footer .left .footer-img .white-line {
  width: 80%;
  margin: 10px 10% 10px 10%;
  height: 1px;
  background-color: #fff;
}
/* line 527, ../sass/style.scss */
footer .left .footer-img ul {
  width: 80%;
  margin: 0 17%;
}
/* line 530, ../sass/style.scss */
footer .left .footer-img ul li {
  float: left;
  width: 20%;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  color: #fff;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 537, ../sass/style.scss */
footer .left .footer-img ul li:hover {
  color: #fffeac;
}

/* line 544, ../sass/style.scss */
.balloon1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

/* line 557, ../sass/style.scss */
.balloon1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

/* line 567, ../sass/style.scss */
.balloon1 p {
  margin: 0;
  padding: 0;
}

/* line 572, ../sass/style.scss */
.review {
  border: 1px solid #eee;
  background-color: #fff;
  width: 90%;
  margin: 20px 5%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
/* line 580, ../sass/style.scss */
.review table, .review th, .review td {
  border: none;
}
/* line 583, ../sass/style.scss */
.review .review-status {
  margin-bottom: 10px;
}
/* line 586, ../sass/style.scss */
.review .which {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
}

/* line 596, ../sass/style.scss */
.adult {
  color: #fff;
  background-color: #43aac4;
}

/* line 600, ../sass/style.scss */
.child {
  color: #fff;
  background-color: #c44343;
}

/* line 604, ../sass/style.scss */
.half-btn {
  width: 45%;
  float: left;
  text-align: center;
  padding: 10px 0;
  margin: 0 2.5%;
  border-radius: 5px;
  font-weight: bold;
}
/* line 612, ../sass/style.scss */
.half-btn p {
  margin: 0;
}

/* line 616, ../sass/style.scss */
.three-column-list {
  border: none !important;
  background: #fffffb;
  margin: 0 !important;
  font-size: 1em !important;
}
/* line 621, ../sass/style.scss */
.three-column-list li {
  float: left;
  list-style: none !important;
  width: 33.333333333%;
  text-align: center;
  box-sizing: border-box;
  padding: 5px 5px 30px 5px;
}

/* line 630, ../sass/style.scss */
.post-thumbnail {
  margin-bottom: 30px;
}
/* line 632, ../sass/style.scss */
.post-thumbnail img {
  width: 100%;
  height: auto !important;
}

/* line 637, ../sass/style.scss */
#tickets {
  margin: 30px 0;
}
/* line 638, ../sass/style.scss */
#tickets .ticket {
  width: 100%;
  height: 100px;
  margin: 20px;
  border: 1px solid #eee;
  background: #fff;
  position: relative;
}
/* line 639, ../sass/style.scss */
#tickets .ticket h2 {
  width: 65%;
  text-align: center;
  padding: 35px 12% 0 13%;
  font-size: 1.3em;
}
/* line 652, ../sass/style.scss */
#tickets .ticket:after {
  content: "";
  position: absolute;
  width: 10%;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #c44343;
  border-left: 3px dotted #eee;
}
/* line 663, ../sass/style.scss */
#tickets li {
  width: 33.33333333333%;
  float: left;
  border: 1px solid #eee;
  background: #f9f9f9;
  padding: 30px;
  box-sizing: border-box;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
}
/* line 672, ../sass/style.scss */
#tickets li:hover {
  background: #fff;
}

/* line 676, ../sass/style.scss */
.simplemap {
  margin-bottom: 20px;
}

/* line 679, ../sass/style.scss */
.blog_title {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

/* line 684, ../sass/style.scss */
.blog_list li {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic,'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  list-style: none;
  border: 1px solid #eee;
  text-align: left;
  margin: 20px 0;
  padding: 30px;
  background: #fff;
  box-sizing: border-box;
}
/* line 685, ../sass/style.scss */
.blog_list li h2 {
  text-align: left !important;
  font-size: 1.3em !important;
}
/* line 689, ../sass/style.scss */
.blog_list li p {
  font-size: .9em;
  line-height: 1.3em;
}

/* line 703, ../sass/style.scss */
.blog_list li:hover {
  color: #43aac4;
  background: #fbfeff;
}

/* line 707, ../sass/style.scss */
.blog_list li a:hover {
  color: #43aac4;
}
