/* line 4, ../sass/style.scss */
.head-top {
  margin: 20px 0;
}
/* line 6, ../sass/style.scss */
.head-top .head-left {
  float: left;
  vertical-align: top;
  width: 39%;
}
/* line 10, ../sass/style.scss */
.head-top .head-left img {
  vertical-align: top;
  width: 250px;
}
/* line 15, ../sass/style.scss */
.head-top .head-right {
  float: left;
  vertical-align: top;
  width: 60%;
}
/* line 20, ../sass/style.scss */
.head-top .head-right .head-top-list li {
  float: right;
  margin: 0 6px;
  font-size: 1.1em;
}
/* line 24, ../sass/style.scss */
.head-top .head-right .head-top-list li .i {
  display: inline-block;
}
/* line 27, ../sass/style.scss */
.head-top .head-right .head-top-list li .i img {
  vertical-align: middle;
  width: 14px;
}
/* line 34, ../sass/style.scss */
.head-top .head-right .btn {
  background: #43aac4;
  color: #fff;
  text-align: center;
  font-weight: bold;
  float: right;
  padding: 10px 51px;
  margin-top: 6px;
}
/* line 43, ../sass/style.scss */
.head-top .head-right .btn:hover {
  background: #c44343;
}

/* line 50, ../sass/style.scss */
.head-bottom ul li {
  float: left;
  width: 160px;
  text-align: center;
  transition: .2s;
  font-size: 1.3em;
  padding: 15px 0;
}
/* line 58, ../sass/style.scss */
.head-bottom ul li:hover {
  color: #43aac4;
}

/* line 62, ../sass/style.scss */
.slider {
  width: 100%;
  background: #eee;
  height: 350px;
}

/* line 68, ../sass/style.scss */
.content {
  margin: 50px 0;
}
/* line 70, ../sass/style.scss */
.content .main_content {
  float: right;
  height: 500px;
  width: 720px;
}
/* line 76, ../sass/style.scss */
.content .sidebar {
  float: right;
  width: 240px;
}
/* line 81, ../sass/style.scss */
.content .sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}
/* line 84, ../sass/style.scss */
.content .sidebar h2 img {
  width: 60px;
}
/* line 88, ../sass/style.scss */
.content .sidebar .side-cources li {
  padding: 10px;
  font-size: 1.2em;
  transition: .2s;
}
/* line 92, ../sass/style.scss */
.content .sidebar .side-cources li svg {
  margin-right: 10px;
}
/* line 96, ../sass/style.scss */
.content .sidebar .side-cources li:hover {
  color: #43aac4;
  background: #fbfeff;
}
